STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-backend

# Stripe Configuration
STRIPE_API_KEY=sk_test_placeholder
# STRIPE_WEBHOOK_SECRET=whsec_placeholder

# Resend Email Configuration
RESEND_API_KEY=re_Muh9RHSr_DDXVY3DfFnshEmvtVBHTpUGt
RESEND_FROM_ORDERS=TamZen Orders <notification@tamzen.shop>
RESEND_FROM_VERIFY=TamZen <verify@tamzen.shop>
